**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

docker/.env
docker/.env.*
!docker/.env.example

**/firebase-config.json
**/*firebase*service*account*.json
**/*service-account*.json
**/secrets/

.git/
.DS_Store
